.container {
    /*background: #bce8f1;*/
}
.container-fluid {
    /*background: #d0e9c6;*/
}
#hero {
    background: url('https://lorempixel.com/1920/1080') center top no-repeat;
    min-height:500px;
}
[class^="col-"] {
    border:1px solid black;
}
.myNav {
    background: yellowgreen;
}
/*bemutatott rendeződési hiba megoldása 1.*/
@media all and (min-width:768px) and (max-width: 991px){
    .teszt .col-sm-6:nth-child(2n-1) {
        clear:left;
    }
}
.teszt .clear {
    clear:left;
}