header {
    background-color: lightblue;
}
article,
aside {/* , -el elválasztva több selectornak is meg lehet adni ugyanazt a stilushalmazt*/
    background-color: antiquewhite;
}
h1 {
    color: red;
}
footer {
    background-color: lightblue;
}
/*hivatkozások*/
a {
    text-decoration: none;/*aláhuzás eltüntetése*/
    color:darkgreen;
}
a:hover {/*:pseudo selector - egér felette jár*/
    color:yellowgreen;
}
a.active {/*minden olyan <a> TAG ami rendelkezik active osztállyal*/
    background:khaki;
}