@import "minireset.css";/*css file importálása másik css file ba*/

div {
    background-color: khaki;
}
/*elemek resetelése azért lett kikommentelve, mert miniresetet alkalmazunk
html,body {
    margin:0;
    padding:0;
}
h1 {
    margin:0;
    padding:5px;
}
*/
/*doboz tulajdonságok*/
div.holder {
    width:400px;
    border:5px palevioletred solid;
    padding:25px 15px;
    /*egymás mellé 2*/
    display:inline-block;
}

.holder div {
    background-color: yellowgreen;
    margin: 5px 0;
}