@import "minireset.css";/*css file importálása másik css file ba*/
nav {
    background-color: grey;
}
#slider {
    background-color: khaki;
}
#about {
    background-color: deeppink;
}
#skills {
    background-color: #906090;
}
section {
    background-color: yellowgreen;
    min-height: 150px;
}
.wrapper {
    width:100%;/*1200as wrapper 'kiiktatása'*/
    margin:0 auto;/*blokk elem középre illesztése a hordozójában*/
    background-color: orange !important;
}
@media screen and (min-width: 1200px){/*adott képernyőméreten kapcsol csak be a szabály*/
    .wrapper {
        width:1200px;
        background-color: yellow !important;
    }
}
@media screen and (min-width:640px) and (max-width: 1199px){/*kb tablet, ez alatt a mobile ami a css media nélküli része*/
   nav {
       background-color: aqua;
   }
}