<h2>Helytelen html 'weboldal' de a böngésző mutatja a tartalmat</h2>
<h3>Listák, felsorolások</h3>
<h4>Felsorolás</h4>
<ul>
 <li>listaelem</li>
 <li>listaelem</li>
 <li>listaelem</li>
 <li>listaelem</li>
</ul>
<h4>Elemi lista</h4>
<ul>
 <li>listaelem</li>
</ul>
<h4>Sorszámozott lista</h4>
<ol>
 <li>listaelem</li>
 <li>listaelem</li>
 <li>listaelem</li>
 <li>listaelem</li>
</ol>
<h4>Beágyazott listák</h4>
<ul type="none">
	<li>1. A hipotézis</li>
	<li>2. Feltárása
		<ul type="none">
			<li>2.1 A "régészek"</li>
			<li>2.2 A leletek értelmezése</li>
			<li>2.3 A rovásírás</li>
		</ul>
	</li>
	<li>3. Piramisok
		<ul type="none">
			<li>3.1	Nap piramis (Visočica)</li>			
		</ul>
	</li>
	<li>4. A hely értelmezése körüli kételyek
		<ul type="none">
			<li>4.1	Mellette szóló érvek</li>
			<li>4.2	Ellene szóló érvek</li>
		</ul>
	</li>
	<li>5. Képgaléria</li>
	<li>6. Források</li>
	<li>7. További információk</li>
</ul>